* {
	margin:0;
	padding:0;
}

.grid {
	display:grid;
	grid-template-columns: 100px auto;
	grid-template-rows: 50vh 50vh;
    grid-template-areas:
	"top top"
	"left right";
}

#top {
	grid-area: top;
	background-color:red;
}

#left {
	grid-area: left;
	background-color:blue;
}

#right {
	grid-area: right;
	background-color:green;
}