* {
	margin:0;
	padding:0;
	font-family:verdana;
}
/*
.grid {
	/*Grid controls*/
	display:grid;
	grid-template-columns: 1fr;
	grid-template-rows: 
	auto
	1fr
	auto;
    grid-template-areas:
	"top"
	"center"
	"bottom";
}

#top {
	grid-area: top;
	
	padding:20px;
	border-bottom:2px solid grey;
}

#center {
	grid-area: center;
	
	-webkit-user-select:none;
	width:100%;
}

#bottom {
	grid-area:bottom;
	
	border-top:2px solid grey;
	padding:5px;
	text-align:center;
}

#overlay {
	position:absolute;
	top:60%;
	left:calc(23% - 350px);
	width:700px;
	
	text-align:center;
	color:white;
	font-size:50px; 
	background:rgba(0,0,0,0.8)
}

.text {
	padding:10px;
	padding-bottom:50px;
	text-align:center;
	color:rgb(50,50,50);
}

.text h1 {
	font-size:60px;
}

.text p {
	margin-top:20px;
	font-size:20px;
}