#bottom {
	margin-left:-20px;
}

#center > div {
	position:relative;
	width:100%;
	height:800px;
	
	display:grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: 
	1fr;
    grid-template-areas:
	"left right";
}

.img {
	grid-area: left;
	width:582px;
	overflow:hidden;
}
.right {
	grid-area: right;
	height:100%;
	width:100%;
}
.text {
	height:calc(100% - 50px);
	width:100%;
}

.controls {
	width:100%;
	height:50px;
}

#center > div:nth-child(odd) {
	background-color:white;
}

#center > div:nth-child(even) {
	background-color:rgb(200,200,200);
}

#center > div:nth-child(odd) .controls{
	border-top:2px solid rgb(200,200,200);
}

#center > div:nth-child(even) .controls{
	border-top:2px solid white;
}

