#bottom {
	margin-left:-20px;
}

#center {
	position:relative;
}

#center div {
	position:absolute;
	padding:20px;
	width:100%;
	height:800px;
}

#center div:nth-child(odd) {
	background-color:white;
}

#center div:nth-child(even) {
	background-color:rgb(200,200,200);
}
